
   <div class="container-fluid p-0 m-0 mt-0">
    <footer class="footer1 p-1 m-0">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6  ms-auto text-left">
            <div class="single-box">
                <img src="../../assets//images//movie-logo.png" alt="" width="150px" height="180px" class="img-fluid">
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 payments text-center">
             <h1 class="ms-2">We Accept</h1>
            
            <div class="card-area">
                    <i class="fab fa-cc-visa fa-2x m-1"></i>
                    <i class="fab fa-cc-mastercard fa-2x m-1"></i>
                    <i class="fab fa-cc-paypal fa-2x m-1"></i>
            </div>
            </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6  text-center">
            <div class="single-box">
                <h2>Follow us on</h2>
                <p class="socials">
                    <i class="fab fa-facebook-f " style="font-size: 25px!important;"></i>
                    <i class="fab fa-twitter" style="color: rgb(15, 217, 236); font-size: 25px!important;" ></i>

                    <a
                    class=" text-white  p-1" 
                    href="#!"
                   
                    ><i class="fab fa-google" style="color: rgb(236, 115, 15); font-size: 25px!important;"></i
                  ></a>


                    
                    <i class="fab fa-linkedin-in" style="color: rgb(42, 121, 216); font-size: 25px!important;"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center  mt-5 p-3">
        © 2023 Copyright:
        <a class="text-white" href="#">MovieeApp.com</a>
      </div>
    </footer>
</div>