
.card {
  /* margin-top:15px; */
  background-color:crimson;
  border: 1px solid rgb(0, 162, 255);
  padding: 20px;
  top: 5%;
  left:73%;
  color: white;
  font-size: 16px!important;
  z-index: 3;
}


* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
    margin-left: 90%; 
}
.form_width{
    width:45%;
}


.bg_img{
  background-color: black;
  background-image: url("../../assets/images/loginbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  
}
.input_width{
  width: 98%;
}
.center_btn{
  left: 50%;
}

h1{
  font-weight: bold;
}

.align_buttons{
  left: 30%;
}